#backgroundcolor {
  z-index: 0;
  position: absolute;
  background-color: #f2ebe1;
  width: 100vw;
  height: 100vh;
}
#menubtn {
  z-index: 30;
  position: fixed;
  cursor: pointer;
  width: 5vw;
  height: 5vw;
  top: 0vw;
  left: 1vw;
  transition: 1s;
}
#background1 {
  z-index: 8;
  position: absolute;
  pointer-events: none;
  width: 35vw;
  height: auto;
  min-width: 450px;
  bottom: 0vh;
  left: 1vw;
  opacity: 0.4;
}
#navigateicon {
  z-index: 12;
  position: absolute;
  background-image: url("/icon1.png");
  width: 3vw;
  height: 3vw;
  left: 47.5vw;
  bottom: 0.8vh;
  background-size: contain;
  animation: nevigationanim 10s infinite linear,
    nevigationanim1 10s infinite linear;
}
